header {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #facfe1ff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .headline { padding: 120px 0; }

  .image2{
    display: none;
  }

  @media only screen and (max-width: 500px){ //some value
    .image1{
      display: none;
    }
 
    .image2{
      display: block;
    }
 }

}
